@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

*{
   
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',  sans-serif;
    
}
body 
{
    color:rgb(249, 242, 242);
    background-color: black;
    padding: 20px;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 3%;
    background: transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position:relative;
    font-size: 25px;
    color:rgb(231, 234, 237);
    text-decoration: none;
    font-weight: 600;
}
.navbar {
    margin-right: 10px;
}
.navbar a{
    display: inline-black;
    
    color:rgb(245, 246, 253);
    text-decoration:none;
    font-weight:600;
    margin-left: 16px;
    transition: .3s;

}
.navbar a:hover{
    color:rgb(87, 235, 235);

}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /*background: url(purple/Illustrated/Mountain/Desktop/wallpaper.png) no-repeat;*/
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    padding: 70px 10%;

}
.home-content{
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #fcf5f5;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span{
    color:aqua;
}
 .pic{
  height:350px;
  width:350px;
  border-radius:50%;
 } 

 .pic:hover{
  transform: scale(1.1);
 }
   


    

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: #f7efef;

    

}
.home-content p{
    font-size: 20px;
    color: #e7e1e1;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width:40px;
    height:40px;
    background:transparent;
    border: 2px solid rgb(96, 213, 248);
    border-radius:50%;
    font-size: 20px;
    color:aqua;
    text-decoration:none;
    margin: 30px 15px 30px 0;
    

}
.home-sci a:hover{
    background: rgb(238, 240, 240);
    color:black;
    box-shadow:0 0 20px rgb(250, 252, 252);
}
.btn-box{
    display:inline-block;
    padding: 12px 28px;
    background :#0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight:600;

}   
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}



.about{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    float: left;
    padding: 20px;
    margin:20px;
    
    
}
.about-img img{
       
    height: auto;
    width: 400px;
    border-radius: 10%;
    margin-top: -20px;

}
.pic:hover{
  transform: scale(1.1);
 }
   




/* .col-sm-6{
  margin-left: 100px;
} */

.about-text h2{
    font: size 60px;

}
.about-text h4 span{
    color:#0ef
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color:rgb(241, 245, 243);
    line-height: 1.7;
    margin: 15px 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}



  

    
#services{
  padding: 150px;
  color: #e7e1e1;

}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1rem));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background: #59c5e0;
  padding: 40px;
  font-size: 13px;
  font-weight: 300px;
  border-right: 50px;
  transition: background 0.5s, transform  0.5s; 
}

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a{
   text-decoration: none;
   color: rgb(45, 143, 148);
   font-size: 12px;
   margin-top: 20px;
   display: inline-block;
}
.services-list div:hover{
  background: #d64545;
  transform: translateY(-10px);
}


/*PORTFOLIO*/



figure.fig {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}

figure.fig * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

figure.fig figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: #6e7071d0;
  border: 4px solid rgba(255, 255, 255, 0.05);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

a {
  color: #65965e;
  text-decoration: none;
}

.card-services {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


figure.fig:hover > img,
figure.fig.hover > img {
  opacity: 0.2;
}

figure.fig:hover figcaption,
figure.fig.hover figcaption {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}


#portfolio {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;

  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 5.5% 0;
}
#portfolio-container
{
  opacity:  0;
}

.show {
  opacity: 1 !important;
}
.card-portfolio {
  background-color: transparent;
  display: block;
  margin: 1em;
  position: relative;
  width: 350px;
  text-align: center;
  padding: 0;
}

.img-portfolio {
  width: 100%;
  height: 260px;
}

.button {
  display: inline-block;
  width: 90px;
  height: 32px;
  line-height: 32px;
  font-size: 0.9em;
  color: #f5f2f2;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

.label-blue {
  color: #fafbfc;
}

.right {
  text-align: right;
}
.right a{
  color: #ffffff;
  text-decoration: none;
}

.button-container {
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;
  display: flex;

  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -o-justify-content: flex-end;
  -ms-justify-content: flex-end;
  position: relative;
  top: 6px;
  right: 14px;
  color: #e7e1e1;
}
.content {
  background: white;
  height: auto;
  padding: 1% 0;
}
.button {
  display: inline-block;
  width: 90px;
  height: 32px;
  line-height: 32px;
  font-size: 0.9em;
  color: #646464;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

.button-container {
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -o-justify-content: flex-end;
  -ms-justify-content: flex-end;
  position: relative;
  top: -5px;
  right: 14px;
  color: #f5f9fa;
}
/*END OF PORTOFLIO*/


.contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 3rea;
  padding-left: 30px;
  margin-top: 130px;

}
.contact-text h2{
  font-size: 50Px;
  line-height: 1;
  text-align: left;
  color: #f7eeee;
}
.contact-text h2 span{
  color:rgb(66, 165, 165);
}

.contact-text h4{
  margin: 15px 0;
  color:rgb(116, 196, 212);
  font-size: 20px;
  font-weight: 600;
}

.contact-text p{
  color:rgb(247, 247, 247);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list{
  margin-bottom: 3rem;
  
}

.contact-list li{
  margin-bottom: 10px;
  display: block;
  color: #e7e1e1;
}



.contact-list i{
  display: inline-block;
  color: rgb(88, 207, 236);
  font-size: 20px;
  font-weight: 600;
  transition: all .40s ease;
}

.contact-list li a:hover{
  transform: scale(1.01) translateY(-5px);
  color: #60dddd;
}

.contact-icons i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(110, 230, 230);
  border-radius: 100%;
  font-size: 20px;
  color: rgb(27, 218, 231);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 5s ease; 
  opacity: 1;
  animation: slideleft is ease forwards;
  animation-delay: calc(.2s *var(--i));
}


.contact-icons i:hover{
  background: rgb(241, 244, 245);
  color: #181616;
  box-shadow: 0 0 20px #f1f4f5;
} 

.contact-form{
  position:relative;
  
  }
.contact-form form input,form textarea{
    

  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #a0a3a0;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;

}

.contact-form textarea{
  resize: none;
  height: 220px;
}
  
.contact-form form .send{
  display: inline-block;
  padding: 10px;
  background: rgb(70, 189, 189);
  border-radius: 10px;
  font-size: 16px;
  color: #000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 1;
  animation: slidetop is ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px rgb(157, 158, 158),
  0 0 25px rgb(165, 166, 167);
}


.contact-form form .send:hover {
  box-shadow: 0 0 5px rgb(239, 243, 243),
  0 0 25px rgb(238, 240, 240), 0 0 50px rgb(246, 247, 247),
  0 0 100px rgb(249, 250, 250), 0 0 200px rgb(243, 245, 245);
}





 





















    





            
          
